#copyright {
  background: #075171;
  padding: 10px;
  a {
    display: block;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin: 0;
    text-align: center;
    color: #fff;
  }
}
