<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head",title) %>
  </head>
  <body>
    <%- include("./partials/header",menus) %>

    <section id="necessary-information">
      <div class="necessary-cards">
        <div class="card">
          <a href="">
            <div class="card-body">
              <h5 class="card-title">Dövlət Hakimiyyəti</h5>
              <p class="card-text">
                Azərbaycan Respublikasında dövlət hakimiyyəti hakimiyyətlərin
                bölünməsi prinsipi əsasında təşkil edilir. Ənənəvi hakimiyyətlər
                bölgüsü konsepsiyasına uyğun olaraq Konstitusiya müəyyən edir
                ki, icra hakimiyyəti Azərbaycan Respublikasının Prezidentinə
                mənsubdur....
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="">
            <div class="card-body">
              <h5 class="card-title">Dövlət Hakimiyyəti</h5>
              <p class="card-text">
                Azərbaycan Respublikasında dövlət hakimiyyəti hakimiyyətlərin
                bölünməsi prinsipi əsasında təşkil edilir. Ənənəvi hakimiyyətlər
                bölgüsü konsepsiyasına uyğun olaraq Konstitusiya müəyyən edir
                ki, icra hakimiyyəti Azərbaycan Respublikasının Prezidentinə
                mənsubdur....
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="">
            <div class="card-body">
              <h5 class="card-title">Dövlət Hakimiyyəti</h5>
              <p class="card-text">
                Azərbaycan Respublikasında dövlət hakimiyyəti hakimiyyətlərin
                bölünməsi prinsipi əsasında təşkil edilir. Ənənəvi hakimiyyətlər
                bölgüsü konsepsiyasına uyğun olaraq Konstitusiya müəyyən edir
                ki, icra hakimiyyəti Azərbaycan Respublikasının Prezidentinə
                mənsubdur....
              </p>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="">
            <div class="card-body">
              <h5 class="card-title">Dövlət Hakimiyyəti</h5>
              <p class="card-text">
                Azərbaycan Respublikasında dövlət hakimiyyəti hakimiyyətlərin
                bölünməsi prinsipi əsasında təşkil edilir. Ənənəvi hakimiyyətlər
                bölgüsü konsepsiyasına uyğun olaraq Konstitusiya müəyyən edir
                ki, icra hakimiyyəti Azərbaycan Respublikasının Prezidentinə
                mənsubdur....
              </p>
            </div>
          </a>
        </div>
      </div>
    </section>



    <section id="news">
      <div class="container">
        <a href="#" class="news-title">Xəbərlər</a>
        <div class="news-cards">
          <div class="card">
            <img
              src="/static/images/news1.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Yeni Azərbaycan Partiyasının yaradılmasının 30 illiyi
                münasibətilə tədbir keçirilib Prezident,Yeni Azərbaycan
                Partiyasının Sədri İlham Əliyev tədbirdə çıxış edib..
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="">
                <img src="/static/images/icon.svg" alt="" />
              </a>
              <p>22.11.2022</p>
            </div>
          </div>
          <div class="card">
            <img
              src="/static/images/news2.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Yeni Azərbaycan Partiyasının yaradılmasının 30 illiyi
                münasibətilə tədbir keçirilib Prezident,Yeni Azərbaycan
                Partiyasının Sədri İlham Əliyev tədbirdə çıxış edib..
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="">
                <img src="/static/images/icon.svg" alt="" />
              </a>
              <p>22.11.2022</p>
            </div>
          </div>
          <div class="card">
            <img
              src="/static/images/news3.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <p class="card-text">
                Yeni Azərbaycan Partiyasının yaradılmasının 30 illiyi
                münasibətilə tədbir keçirilib Prezident,Yeni Azərbaycan
                Partiyasının Sədri İlham Əliyev tədbirdə çıxış edib..
              </p>
            </div>
            <div class="card-footer">
              <a href="#" class="">
                <img src="/static/images/icon.svg" alt="" />
              </a>
              <p>22.11.2022</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="karabakh">
      <img
        src="/static/images/qarabag.svg"
        alt=""
        class="img-responsive karabakh-img"
      />
      <div class="karabakh-information">
        <div class="container">
          <div class="karabakh-row">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Qarabağ tarixi</h5>

                <p class="card-text">
                  Qarabağ təkcə Azərbaycanın deyil, ümumiyyətlə, dünyanın da ən
                  qədim tarixə malik olan diyarlarındandır. Bu ərazidəki Azıx
                  mağarasında ən qədim insanların yaşayış məskəni aşkar
                  edilmişdir...
                </p>
                <a href="#" class="card-link">
                  <img src="/static/images/icon.svg" alt="" />
                </a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Zəfər günü</h5>

                <p class="card-text">
                  Qarabağ təkcə Azərbaycanın deyil, ümumiyyətlə, dünyanın da ən
                  qədim tarixə malik olan diyarlarındandır. Bu ərazidəki Azıx
                  mağarasında ən qədim insanların yaşayış məskəni aşkar
                  edilmişdir...
                </p>
                <a href="#" class="card-link">
                  <img src="/static/images/icon.svg" alt="" />
                </a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Erməni təcavüzü</h5>

                <p class="card-text">
                  Qarabağ təkcə Azərbaycanın deyil, ümumiyyətlə, dünyanın da ən
                  qədim tarixə malik olan diyarlarındandır. Bu ərazidəki Azıx
                  mağarasında ən qədim insanların yaşayış məskəni aşkar
                  edilmişdir...
                </p>
                <a href="#" class="card-link">
                  <img src="/static/images/icon.svg" alt="" />
                </a>
              </div>
            </div>

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Xocalı soyqırımıi</h5>

                <p class="card-text">
                  Qarabağ təkcə Azərbaycanın deyil, ümumiyyətlə, dünyanın da ən
                  qədim tarixə malik olan diyarlarındandır. Bu ərazidəki Azıx
                  mağarasında ən qədim insanların yaşayış məskəni aşkar
                  edilmişdir...
                </p>
                <a href="#" class="card-link">
                  <img src="/static/images/icon.svg" alt="" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  

    <section id="usefull-links">
      <div class="container">
          <div class="usefulls">
              <a href="#" class="usefull-item" >
                <div class="usefull-item-head" style="background-image: url(static/images/example1.svg)">
                  
                  <p class="usefull-text">president.az</p>
                </div>
                <img class="usefull-body-img" src="/static/images/president.png" alt="">
              </a>
              <a href="#" class="usefull-item" >
                <div class="usefull-item-head" style="background-image: url(static/images/example2.svg)">
                  
                  <p class="usefull-text">alimeclis.az</p>
                </div>
                <img class="usefull-body-img" src="/static/images/alimeclis.png" alt="">
              </a>
              <a href="#" class="usefull-item" >
                <div class="usefull-item-head" style="background-image: url(static/images/example1.svg)">
                  
                  <p class="usefull-text">rytn.nakhchivan.az</p>
                </div>
                <img class="usefull-body-img" src="/static/images/rabite.png" alt="">
              </a>
              <a href="#" class="usefull-item" >
                <div class="usefull-item-head" style="background-image: url(static/images/example2.svg)">
                  
                  <p class="usefull-text">virtualkarabakh.az</p>
                </div>
                <img class="usefull-body-img" src="/static/images/virtual.png" alt="">
              </a>
          
          </div>
          <div class="links-all">
            <a href="">Bütün linklər</a>
            <img src="/static/images/links.svg" alt="">
          </div>
      </div>
    </section>


    <section id="photos">
      <div class="container">
        <div class="row photos-up">
          <div class="col-lg-6 col-md-12 col-sm-12 photos-up-left">
            <img src="/static/images/big1.png" class="img-responsive img-thumbnail" alt="">
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 photos-up-right">
            <h3>Naxçıvan fotolarda</h3>
            <div class="row photos-up-right-images">
              <div class="col-lg-6 col-md-6 col-sm-6 col-12  photos-up-right-images-item">
                <img src="/static/images/photos1.png" class="img-responsive d-block mx-auto img-thumbnail" alt="">

              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-12 photos-up-right-images-item">
                <img src="/static/images/photos2.png" class="img-responsive d-block mx-auto img-thumbnail" alt="">

              </div>
            </div>
          </div>
          
        </div>
        <div class="row photos-down">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 photos-down-item">
              <img src="/static/images/photos3.png" class="img-responsive d-block mx-auto img-thumbnail" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 photos-down-item">
              <img src="/static/images/photos4.png" class="img-responsive d-block mx-auto img-thumbnail" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 photos-down-item">
              <img src="/static/images/photos5.png" class="img-responsive d-block mx-auto img-thumbnail" alt="">
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 photos-down-item">
              <img src="/static/images/photos6.png" class="img-responsive d-block mx-auto img-thumbnail" alt="">
            </div>
        </div>
      </div>
    </section>



  
    <%- include("./partials/copy") %> 

  </body>
</html>
