.progress {
    width: 75%;
    height: 5px;
    --bs-progress-bg: #bab8b8;
  }

.progress-bar {
  background-color: #bab8b8;
  width: 16%;
}


.selectProgress {
    background-color: #075171 !important;
    border-radius: 5px;
  }
  