
<section id="copyright">
  <a href="">Copyright © 2022. Naxçıvan Muxtar Respublikası Rabitə və Yeni Texnologiyalar Nazirliyi</a>
</section>


<script
  src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"
  integrity="sha512-42PE0rd+wZ2hNXftlM78BSehIGzezNeQuzihiBCvUEB3CVxHvsShF86wBWwQORNxNINlBPuq7rG4WWhNiTVHFg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/libs/jquery/dist/jquery.min.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/republic-information.js"></script>
